#container {
  position: relative;
  width: 64px;
}

#container:hover {
  cursor: pointer;
}

#container:hover .overlay  {
  opacity: 1;
}

#container:hover #cover {
  opacity: 0.4;
}

.overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 64px;
  transition: .5s ease;
}

#cover {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}